:root {
    --header-color: #6943FF;
    --h2-color: #5A537B;
    --p-color: #353535;
    --main-bg-col: #F4f4f4;
    --main-cont-col: #ffffff;
}


body {
    font-family: "inter", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center; 
    background-color: #d3d3d3;
}

.body-container {
    width: min(550px, 100%);
    min-height: 100vh;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 45vh;
}


header h1 {
    font-size: min(6vw, 1.75rem);
}

header input {
    width: 21%;
    max-width: 117px;
    aspect-ratio: 117/83;
    border-radius: 5px;
    border: 2px solid #B295FF;
    background-color: inherit;
    font-size: 3.625rem;
    color: white;
    padding: 0.2em;
    text-align: center;
    margin: 0.5em;
}

/* header button {
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    color: #3d3d3d;
    padding: 0.5em 1.7em;
    width: min(30%, 117px);
    font-size: min(3.5vw, 1rem);
    margin: 1.25em;
    border: none;
} */

main {
    background-color: var(--main-bg-col);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    min-height: 55vh;
}

.main-container {
    background-color: var(--main-cont-col);
    width: 95%;
    margin:0.5em;
    aspect-ratio: 495/100;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.main-container h2{
    font-size:min(4vw, 1.25rem);
    color:var(--h2-color)
}

.main-container p{
    font-size: min(3vw, 1rem);
    color: var(--p-color);
}

main div:first-child{
    margin-top: 4vh;
}

/* Hide arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
  }
  